.container {
    display: block;
    height: 800px;
    width: 900px;    
    margin-top: -50px;
    float: right;
    font-size: large;
}

.moreInfo{
    position: absolute;
    display: inline-block;
    height: 305px;
    width: 300px;
    background-image: url('https://i.postimg.cc/3xXBNHBB/ma-y-school-bez-T-a.png');
    background-size: cover;
    margin-left: -280px;
    margin-top: 100px;
    text-align: center;
    transition: 0.5s;
}

.splashMain {
    display: inline-block;
    height: 100%;
    width: 850px;
    background-image: url('https://i.postimg.cc/KcfTXqnT/kleksdobryczerwony.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.moreInfo a {
    display: inline-block;
    margin-top: 110px;
    text-decoration: none;
    text-shadow: black 0.2em 0.2em 0.1em;
    color: antiquewhite; 
    font-size: 50px;
    font-family: 'Nerko One';
    transition: 1s;
}

.container .moreInfo a:hover {
    cursor: pointer;
}