.container {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    font-size: large;
    background-color: rgb(254, 37, 37);
}