.container {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    font-size: large;
    background-color: rgb(109, 255, 98);
    z-index: 2;
    box-shadow: inset 0px 31px 28px -10px rgb(255, 253, 68);
}

