.container {
    display: block;
    height: 800px;
    margin-top: 170px;
}

.splashMain {
    display: block;
    position: absolute;
    height: 800px;
    width: 850px;
    background-repeat: no-repeat;
    background-image:url('https://i.postimg.cc/HnR8P0Ks/1-max.png');
    background-size: cover;
    z-index: 1;
}

.moreInfo {
    height: 330px;
    width: 350px;
    float: right;
    background-image: url('https://i.postimg.cc/wBgmGYg1/ma-y-Plener.png');
    background-size: cover;
    transition: 0.5s;
}

.moreInfo:hover {
    height: 370px;
    width: 400px;
}

.moreInfo button{
    width: 100%;
    height: 100%;
    margin: 25px 25px;
    background: none;
    border: none;
}