@import '../../styles/settings.scss';

.container {
    display: none;
    height: 800px;
    margin-top: 400px;
}

.splashMain {
    display: inline-block;
    height: 850px;
    width: 900px;
    background-repeat: no-repeat;
    background-image:url('https://i.postimg.cc/HnR8P0Ks/1-max.png');
    background-size: cover;
    z-index: 1;
    margin-top: -100px;
}

.moreInfo {
    float: right;
    margin-top: -220px;
    margin-right: 120px;
    height: 330px;
    width: 350px;
    background-image: url('https://i.postimg.cc/wBgmGYg1/ma-y-Plener.png');
    background-size: cover;
    transition: 0.5s;
    text-align: center;
    z-index: 999;
}

.moreInfo a {
    display: inline-block;
    margin-top: 120px;
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.1em $color-shadow;
    color: $color-light; 
    font-size: 50px;
    font-family: $font-text;
    transition: 1s;
    z-index: 999;
}

.container > .moreInfo a:hover {
    cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .container {
        display: block;
        height: 500px;
        width: 479px;
        margin: 0 auto;
    }
    
    .splashMain {
        display: block;
        height: 515px;
        width: 479px;
        margin-top: -40px;
    }

    .moreInfo {
        display: none;
    }
    /*
    .moreInfo {
        display: block;        
        height: 250px;
        width: 270px;
        margin-top: 300px;
        margin-left: 190px;
    }
    
    .moreInfo a {
        display: inline-block;
        margin-top: 90px;
        font-size: 40px;
    }*/
} 