@import '../../styles/settings.scss';

.container {
    display: block;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    font-size: large;
    margin-top: -150px;
}

.moreInfo {
    display: inline;
    margin-top: 290px;
    height: 220px;
    width: 375px;
    background-image: url('https://i.postimg.cc/BvxDnQQZ/kleks-Zielony.png');
    background-size: cover;
    z-index: 1;
    float: left;
    top: 200px;
    transition: 0.5s;
    text-align: center;
}

.splashMain {
    display: block;
    height: 100%;
    width: 815px;
    background-image: url('https://i.postimg.cc/qMCPR9nD/zielona-Plama.png');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.moreInfo a {
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    text-shadow: black 0.2em 0.2em 0.1em;
    color: antiquewhite; 
    font-size: 50px;
    font-family: $font-text;
    transition: 1s;
}
