.container {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto auto;
    font-size: large;
    background-color: rgb(37, 48, 254);
    box-shadow: inset 0px 37px 18px -10px rgb(109, 255, 98);
}