.circle__cursor{
    cursor:none;
    display: none;
    pointer-events: none;
    position:fixed;
    z-index:999;
    height:3rem;
    width:3rem;
    transform:translate(-50%,-50%);
    border:2px solid $color-dark;
    border-radius:50%;
    transition:0.1s;
}
.circle__cursor__dot{
    cursor:none;
    pointer-events: none;
    position:fixed;
    z-index:999;
    height:3rem;
    width:3rem;
    transform:translate(-50%,-50%);
    background:$color-dark;
    border-radius:50%;
    transition:0.05s;
}