@import '../../styles/settings.scss';

.container {
    width: 1200px;
    background: none;
    margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

  .container {
    width: 480px;
    height: 3000px;;
  }     
} 