@import '../../styles/settings.scss';

.container {
    height: 300px;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.left p {
    display:inline-block;
    font-size: 55px;
    margin-top: 20%;
    font-family: $font-text;
    color: $color-light;
    text-shadow: $color-dark 0.1em 0.1em 0.2em;
}

.right {
    width: 50%;
    height: 100%;
    float: left;
}