.container {
    height: 200px;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid white;
    text-align: center;
}

.left p {
    border: 1px solid white;
    display:inline-block;
    font-size: 40px;
    margin-top: 10%;
}

.right {
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid white;
}