@use "sass:math";
@import '../../styles/settings.scss';

.row {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}

.column {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;

  &:last-child {
    margin: 0 0 $base-size 0;
  }
}

.title {
  text-align: center;
  font-size: ($base-size * 1.5);
  margin: auto auto;
}

.icon::before {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
  position: relative;
  top: - math.div($base-size, 3);
}

.cards {
  padding: math.div($base-size, 2) 0;
}

.button {
  width: 20%;
  height: 100%;
  display: flex;
  margin: auto auto;
  border-radius: 7px;
  background-color: bisque;
}

.yellow {
  background-color: yellow;
  width: 25%;
  height: 100%;
  box-shadow: inset 0 0 0.3em black;
}

.green {
  background-color: green;
  width: 25%;
  height: 100%;
  box-shadow: inset 0 0 0.3em black;
}

.blue {
  background-color: blue;
  width: 25%;
  height: 100%;
  box-shadow: inset 0 0 0.3em black;
}

.red {
  background-color: red;
  width: 25%;
  height: 100%;
  box-shadow: inset 0 0 0.3em black;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}
  