.container {
    height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 253, 68);
    margin: auto auto;
    font-size: large;   
    filter: grayscale(30%);
}