@import '../../styles/settings.scss';

.container {
    border: 1px solid white;
    width: 400px;
    height: 900px;
}

.Card {
    
}

@media screen and (min-width: 480px) and (max-width: 768px) {
}