@import '../../styles/settings.scss';

.container {
    height: 650px;
    background-repeat: no-repeat;
    margin: auto 0;
    filter: grayscale(30%);
}

.splashMain {
    display: block;
    position: absolute;
    height: 100%;
    width: 810px;
    background-image: url('https://i.postimg.cc/Cxh9RDbf/kleks8.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.moreInfo {
    float: right;
    margin-top: 70px;
    margin-right: 70px;
    width: 280px;
    height: 258px;
    background-image: url('https://i.postimg.cc/qqz20Pbp/ty-Ma-y.png');
    background-size: cover;
    text-align: center;
}

.moreInfo a {
    display: inline-block;
    margin-top: 90px;
    text-decoration: none;
    text-shadow: $color-shadow 0.2em 0.2em 0.1em;
    color: $color-light;
    font-size: 50px;
    font-family: $font-text;
    transition: 1s;
}

.container .moreInfo a:hover {
    cursor: pointer;
}