$color-light: antiquewhite;
$color-dark: #26313B;
$color-success: #6ab04c;
$color-warning: #eb4d4b;
$color-shadow: rgba(0, 0, 0, 0.8);
$color-background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(5,4,70,1) 29%, rgba(5,136,163,1) 97%, rgba(9,9,121,0.7511379551820728) 100%);

$font-text: 'Nerko One';

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
