$color-light: antiquewhite;
$color-dark: #26313B;
$color-success: #6ab04c;
$color-warning: #eb4d4b;
$color-shadow: rgba(0, 0, 0, 0.8);

$font-text: 'Nerko One';

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
