@import '../../styles/settings.scss';

.container {
    border: 1px solid white;
    height: 400px;
    width: 100%;
}

.form {
    height: 300px;
    width: 400px;
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
}

input {
    width: 90%;
}

textarea {
    width: 90%;
    height: 50%;
}