@import '../../styles/settings.scss';

.container {
    position: fixed;
    width: 150px;
    height: 100vh;
    right: 20px;
    z-index: 2;
}

.yellowTitle, .greenTitle, .blueTitle, .redTitle {
    position: absolute;
    margin: auto auto;
    top: 30px;
    color: $color-light; 
    text-shadow: 0.2em 0.2em 0.1em $color-shadow;
    z-index: 3;
    width: 1234x;
    font-weight: 600;
    font-family: $font-text;
    font-size: 38px;
}

.greenTitle {
    margin-left: 10px;
}

.redTitle {
    margin-top: -20px;
}

.birthday {
    position: fixed;
    right: 10px;
    top: 2%;
    font-size: 20px;
    z-index: 2;
    text-decoration: none;   
    text-align: center;
    transition: 1s;
    z-index: 999;
}

.plener {
    position: fixed;
    right: 10px;
    top: 27%;
    font-size: 20px;
    color: rgb(37, 48, 254);
    z-index: 2;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    z-index: 999;
}

.family {
    position: fixed;
    right: 10px;
    top: 52%;
    font-size: 20px;
    color: $color-success;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    z-index: 999;
}

.school {
    position: fixed;
    right: 10px;
    top: 77%;
    font-size: 20px;
    color: $color-warning;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    transition: 1s;
    z-index: 999;
}

.yellow, .green, .blue, .red {
    position: relative;
    display: block;
    width: 150px;
    height: auto;
}

.birthday:hover, .plener:hover, .family:hover, .school:hover {
    transform: rotate(360deg);
    cursor: pointer;
}