#birthday {
    position: fixed;
    right: 20px;
    top: 100px;
    font-size: 70px;
    color: rgb(255, 253, 68);
    z-index: 2;
    filter: grayscale(30%);
}

#family {
    position: fixed;
    right: 20px;
    top: 250px;
    font-size: 70px;
    color: rgb(109, 255, 98);
    z-index: 2;
}

#plener {
    position: fixed;
    right: 20px;
    top: 400px;
    font-size: 70px;
    color: rgb(37, 48, 254);
    z-index: 2;
}

#school {
    position: fixed;
    right: 20px;
    top: 550px;
    font-size: 70px;
    color: rgb(254, 37, 37);
    z-index: 2;
}

.SocialMedia #phone:hover, #facebook:hover, #instagram:hover, #tiktok:hover{
    font-size: 90px;
    cursor: pointer;
}