.container {
    width: 400px;
    height: 900px;
    border: 1px solid white;
}

.change {
    width: 50px;
    height: 20px;
    background-color: white
}

.default {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 900px;
    justify-content: center;
    align-items: center;
}

.default h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.default button {
    position: absolute;
    margin-top: 100px;
}


.birthday {
    background-color: rgb(217, 255, 0);
    display: none;
}

.plener {
    background-color: rgb(9, 255, 0);
    display: none;
}

.family {
    background-color: rgb(11, 8, 223);
    display: none;
}

.school {
    background-color: rgb(233, 17, 28);
    display: none;
}