@import '../../styles/settings.scss';

.header {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: ($base-size * 15);
    margin: 0 0 ($base-size * 3) 0;
    overflow: hidden;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: ($base-size * 5.5);
    text-transform: uppercase;
    color: $color-light;
}

.messages {
    padding-left: 100px;
    padding-right: 150px;
    border: 1px solid $color-light;
}