@import '../../styles/settings.scss';

.carousel {
    display: block;
    height: 100vh;
    
    filter: grayscale(25%);
}

.carouselItem {
    margin-top: 50px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .carousel {
        height: 450px;
    }        
} 

