.footer {
    height: 150px;
    background-color: rgb(40, 50, 70);
}

@import '../../styles/settings.scss';

.container {
    border: 1px solid white;
    height: 500px;
    width: 100%;
    background-color: rgb(44, 55, 77);
}

.form {
    height: 450px;
    width: 400px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20vh;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
}

.title {
    margin-top: 15px;
}

input {
    width: 90%;
    border: 1px solid black;
}

textarea {
    width: 90%;
    height: 50%;
    border: 1px solid black;
}

.button {
    height: 40px;
    width: 80px;
    background-color: greenyellow;
    box-shadow: inset 0 0 0.3em black;
}