.body {
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(5,4,70,1) 29%, rgba(5,136,163,1) 97%, rgba(9,9,121,0.7511379551820728) 100%);
}