@import '../../styles/settings.scss';

.mian {
    display: flex;
    position: absolute;
    z-index: 3;
    height: 50px;
}

.mess {
    display: inline-block;
    position: fixed;

    width: 25%;
    font-family: $font-text;
    color: $color-light;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    z-index: 999;
}

.home {
    display: inline-block;
    position: fixed;
    margin-left: 25%;

    width: 25%;
    font-family: $font-text;
    color: $color-light;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    z-index: 999;
}

.about {
    display: inline-block;
    position: fixed;
    margin-left: 50%;

    width: 25%;
    font-family: $font-text;
    color: $color-light;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    z-index: 999;
}

.contact {
    display: inline-block;
    position: fixed;
    margin-left: 75%;

    width: 25%;
    font-family: $font-text;
    color: $color-light;
    background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    z-index: 999;
}