@import '../../../styles/settings.scss';

.familyHat {
    height: 350px;
    margin-top: 200px;
    transition: 1s;
}

.blue {
    height: 350px;
    width: 350px;
    margin-left: 20px;
    margin-top: -20px;
    z-index: 10;
}

.family .blueTitle {
    position: absolute;
    margin-top: 150px;
    margin-left: 80px;
    font-size: 60px;
    color: $color-light;
    z-index: 11;
}

.button {
    background: none;
    border: none;
}