@import '../../styles/settings.scss';

.container {
    margin: auto auto;
    margin-top: 700px;
    width: 100%;
    height: auto;
    display: block;
    background-color: $color-dark;
    border-radius: 20px;
    box-shadow: 2px 2px 10px $color-shadow;
    text-align: center;
}

.container h2 {
    display: inline-block;
    width: 100%;
    font-family: $font-text;
    font-size: 50px;
    color: $color-light;
    text-shadow: 0.1em 0.1em 0.3em $color-shadow;
    margin-top: 0;
}

.carousel {
    display: block;
    height: 400px;
    width: 75%;
    margin: 10px auto;
    border-radius: 20px;
}

.item {
    height: 100%;
    border-radius: 20px;
}

.img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px $color-shadow;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .carousel {
        height: 320px;
    }        
} 