.container {
    margin: auto auto;
    margin-top: 650px;
    width: 80%;
    display: block;
}

.carousel {
    display: block;
    height: 400px;
    width: 75%;
    margin: 10px auto;
}

.item {
    height: 100%;
}

.img {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .carousel {
        height: 320px;
    }        
} 